<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=1.0, initial-scale=1.0" />
    <title>You are not an Admin</title>
  </head>
  <body>
    <h1>This website is for "admin" role only</h1>
    <h5>Your role is "user"</h5>
  </body>
</html>
