<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=1.0, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>User Dashboard</title>
  </head>
  <body>
    <header>
      <a href="/users/dashboard/logout">
        <button>LogOut</button>
      </a>
    </header>
    <main>
      <h1>Dashboard</h1>
      <h5>Welcome Logged-in User!</h5>
    </main>
  </body>
</html>
