<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=1.0, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>User Home Page</title>
  </head>
  <body>
    <header>
      <a href="/users/login">
        <button>LogIn</button>
      </a>
      <a href="/users/register">
        <button>Register</button>
      </a>
      <a href="/users/logout">
        <button>LogOut</button>
      </a>
    </header>
    <main>
      <h1>Welcome Users!</h1>
      <h5>Get started by registering</h5>
    </main>
  </body>
</html>
